**/CMakeLists.txt.user
**/CMakeCache.txt
**/CMakeFiles
**/CMakeScripts
**/Testing
**/Makefile
**/cmake_install.cmake
**/install_manifest.txt
**/compile_commands.json
**/CTestTestfile.cmake
**/CPackConfig.cmake
**/CPackSourceConfig.cmake
**/smartphysics
**/html
**/latex

test/test*
!test/test*.cc
*.a
*.so
*.log
*.in
*.cmake
jali
.vscode

